#ul-1 li {
    list-style-type: none;
    display: inline;
    margin-top: 5px;
    margin-right: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    margin: 45px;
    cursor: pointer;
}

#ul-1 {
    background-color: green;
    padding: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#p {
  font-size: 11px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 150px;
}

label {
    color: green;
    padding-right: 50px;
    margin-left: 150px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
}

.img1 {
    width: 50px;
    height: 30px;
}

#button1 {
    background-color: rgb(255, 136, 0);
    padding-top: 0px;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 13px;
    cursor: pointer;
    margin-left: 40px;
}

article {
    display: flex;
}

#section1 {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.8);
    height: 820px;
    width: 240px;
    margin-left: 100px;
    padding-left: 10px;
    border-radius: 5px;
}

#section2 {
 text-align: left;  
 height: 300px;
 margin-left: 140px;
 padding-left: 10px;
}

h4 {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#ul-2 li {
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

h2 {
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.img2 {
   border: 1px solid grey;
   height: 90px;
   width: 100px;
   text-align: left;
   border-radius: 5px;
}
.container1 {
   width: 800px;
}

.arrow {
    height: 25px;
    width: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.arrow2 {
    height: 25px;
    width: 25px;
    padding-bottom: 22px;
    padding-top: 20px;
}

.welcoming {
    height: 200px;
    width: 640px;
    border-radius: 5px;
    margin-left: 40px;
    padding-bottom: 50px;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img3 {
    width: 120px;
    height: 120px;
    padding-left: 10px;
}

.recommend {
    border: 1px solid gray;
    border-radius: 5px;
    gap: 10px;
    margin-right: 10px;
    width: 150px;
    height: 350px;
}

.star {
  display: inline;
  height: 25px;
    width: 25px;
}

abbr {
    text-decoration: none;
}

h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
}

pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cats {
    border: 1px solid rgb(215, 215, 215);
    background-color: rgb(215, 215, 215);
}

.cats pre {
    display: inline;
    margin-top: 60px;
}

.cats img {
    margin-left: 535px;
    height: 200px;
}