h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: red;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-top: 5px;
    margin-right: 100px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    height: 3px;
    background-color: red;
}